:root {
  --color1:#b0c4de; /*ツール枠*/
  --color2:#CDD9ED; /*ツール内部*/
  --color3:#E9EFFA; /*ツール内部の内部*/
  --color4:#778899; /*ボタン選択*/
  --color5:#F6DDC0; /*チャット枠*/
  --color6:#FFEFDB; /*チャット内部*/
  --color7:#FBF5ED; /*チャット内部*/
}

.canvas{
  border:solid 3px #AAAAAA;
  position: fixed;
  top:10px;
  bottom:132px;
  left: 10px;
  right:180px;
  overflow: hidden;
}

.canvas1{
  margin:auto;
}

#canvas{
  background-color: yellow;
  width: 400px;
  height: 300px;
}

/*---*/
/*ツールの親*/
.tools{
  white-space: nowrap;
  border:solid 3px var(--color1);
  background-color: var(--color2);
  position: fixed;
  height:80px;
  bottom:10px;
  left: 10px;
  right:180px;
  display: flex;
}

.toolsname{
  border-top:solid 3px var(--color1);
  border-left: solid 3px var(--color1);
  border-right:solid 3px var(--color1);
  background-color: var(--color2);
  text-align: center;
  font-weight: bold;
  position: absolute;
  width: 80px;
  top: -30px;
  left: -3px;
  border-radius: 10px 10px 0px 0px;
}

/* 子要素全て */
.tools1,.size,.color,.layer,.button{
  background-color: var(--color3);
  text-align:center;
  margin:5px;
  width: 20%;
  overflow: scroll;
}

/*ツール子要素1*/
/* .tools1{
} */

/*ツールボタン*/
.toolbutton,.sizebutton,.layerbutton{
  display: none;
}

/*ツールボタン画像*/
.toolbuttonimg,.sizebuttonimg{
  padding: 4px;
}

.sizebuttonimg{
  margin-top: 8px;
}

/* 選択されたラジオボタンの画像の背景を青色に変える */
.toolbutton:checked + label img {
  background:var(--color4) ;
  transition: all .2s;
}

/* 選択されたラジオボタンの画像の背景を青色に変える */
.sizebutton:checked + label img {
  background:var(--color4) ;
  transition: all .2s;
}

/*ツール子要素2*/
/* .size{
} */

/*ツール子要素3*/
.color{
  width: 10%;
}

#color{
  margin: 3px;
}

/*ツール子要素4*/
/* .layer{
} */

.layerbutton{
  /* position: absolute !important; */
}

.radio-inline__label {
    background-color: #FFFFFF;
    border: solid 1px var(--color1);
    display: inline-block;
    padding: 0.1rem 1rem;
    margin:3px;
    border-radius: 3px;
    transition: all .2s;
}

.layerbutton:checked + .radio-inline__label {
    background: var(--color4);
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

/*ツール子要素5*/
.button{
  width: 30%;
}

.form{
  display: inline;
}


#clear,#save,#end{
  display: inline;
  margin-top: 16px;
  margin-left: 4px;
  margin-right:4px;
  padding: 10px;
}

/*---*/
/*チャットの親*/
.chat{
  border:solid 3px var(--color5);
  background-color: var(--color6);
  position: fixed;
  width:160px;
  top:40px;
  bottom:10px;
  right:10px;
}

.chatname{
  border-top:solid 3px var(--color5);
  border-left: solid 3px var(--color5);
  border-right:solid 3px var(--color5);
  background-color: var(--color6);
  text-align: center;
  font-weight: bold;
  position: absolute;
  width: 80px;
  top: -30px;
  left: -3px;
  border-radius: 10px 10px 0px 0px;
}

.chatbox{
  background-color: var(--color7);
  position: absolute;
  width: 150px;
  top:5px;
  bottom: 60px;
  left:5px;
  font-size:3mm;
  overflow: scroll;
  word-break : break-all
  /* border:ridge 3px #4C3E38; */
}

.chatinput{
  background-color: var(--color7);
  position: absolute;
  width: 150px;
  bottom: 5px;
  left:5px
  /* word-break : break-all; */
}
